# Node & workspace
node_modules/
.DS_Store
dist/
coverage/
*.log
pnpm-debug.log*

# Env files
.env
.env.local
.env.production
.env.development

# Caches & reports
.eslintcache
*.tsbuildinfo
.nyc_output/
.cache/
node_modules/.cache/

# Editor
.idea/

# VSCode (keep workspace settings)
.vscode/*
!.vscode/settings.json

# OS
Thumbs.db